* {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
	color: #cecece;
	background-color: #1e1e1e;
}

body {
    margin: 5% auto;
    width: 960px;
}

p {
    font-size: 1.1rem;
}

h1 {
	text-align: center;
    font-size: 2em;
}

ul {
    list-style-type: circle;
}

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    /*border-radius: 5px;*/
}

code {
    font-family: monospace;
}
