* {
	font-family: Arial, Helvetica, sans-serif;
    /*font-size: 16px;*/
	color: #cecece;
	background-color: #1e1e1e;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {
    margin: 5% /*auto*/;
    width: 960px;
}

img {
    display: block;
    margin: auto;
}

code {
    font-family: monospace;
    font-size: 1rem;
}
